<div class="container card-body ">
	<div class="panel-body">
		<table class="table table-striped ">
			<tr>
				<th>Film Id</th>
				<th>Title</th>
				<th>Time</th>
				<th>Category</th>
				<th>Author</th>
				<th>Date</th>
				<th>Description</th>
			</tr>
			<br>
			<br>
			<tr *ngFor="let f of films">
				<td>{{f.id}}</td>
				<td>{{f.titre}}</td>
				<td>{{f.duree}}</td>
				<td>{{f.categorie}}</td>
				<td>{{f.realisateur}}</td>
				<td>{{f.dateSortie}}</td>
				<td>{{f.description}}</td>
			</tr>
		</table>
	</div>
</div>